language: rust
matrix:
  include:
    - name: "miri"
      rust: nightly
      script:
        - rustup toolchain install nightly-2019-06-20
        - rustup default nightly-2019-06-20
        - rustup component add miri
        - cargo miri setup
        - cargo miri test -- -Zmiri-seed=23
    - name: "debug"
      rust: stable
      script:
        - cargo test --verbose --all
